@model Tutor.UI.ViewModels.Tshow
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Teauser.css" rel="stylesheet" />

<div class="wrap">
    <div class="leftnav">
        <div>
            <img src="@Model.teaccherinfo.Ident_photo" style="width:166px;"/>
            <h2>@Model.teaccherinfo.Teacher.Tuser_name</h2>
        </div>
        <ul class="ulmp leftnavbar">
            <li>教员简介</li>
            <li>教员评论</li>
            <li>教学片断</li>
            <li>教学视频</li>
        </ul>
    </div>
    <div class="rightdetail">
        <div class="account">
            <div class="activerg">
                <div class="topbar">教员简介</div>
                <div>
                    <div class="detail">
                        <ul class="ulmp">
                            <li>
                                <strong>邮&nbsp; &nbsp; &nbsp; &nbsp;箱</strong>
                                <p>@Model.teaccherinfo.Teacher.Tmail</p>
                            </li>
                            <li>
                                <strong>电&nbsp; &nbsp; &nbsp; &nbsp;话</strong>
                                <p>@Model.teaccherinfo.phone</p>
                            </li>
                            <li>
                                <strong>学&nbsp; &nbsp; &nbsp; &nbsp;校</strong>
                                <p>@Model.teaccherinfo.Studyat</p>
                            </li>
                            <li>
                                <strong>专&nbsp; &nbsp; &nbsp; &nbsp;业</strong>
                                <p>@Model.teaccherinfo.Major</p>
                            </li>
                            <li>
                                <strong>科&nbsp; &nbsp; &nbsp; &nbsp;目</strong>
                                <p>@Model.teaccherinfo.Available_subject</p>
                            </li>
                            <li>
                                <strong>家教经验</strong>
                                <p>@Model.teaccherinfo.Experience</p>
                            </li>
                            <li>
                                <strong>薪水要求</strong>
                                <p>@Model.teaccherinfo.Salary</p>
                            </li>
                        </ul>
                        <ul class="ulmp">
                            <li>
                                <strong>授课区域</strong>
                                <p>@Model.teaccherinfo.Area</p>
                            </li>
                            <li>
                                <strong>可行时间</strong>
                                <p>@Model.teaccherinfo.Available_time</p>
                            </li>
                            <li>
                                <strong>获奖情况</strong>
                                <p>@Model.teaccherinfo.Award</p>
                            </li>
                            <li>
                                <strong>自我描述</strong>
                                <p>@Model.teaccherinfo.Description</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="unactive">
                <div class="topbar">教员评论</div>
                <div class="comment">
                    <div>
                        @foreach (var item in Model.comment)
                        {
                            <div>
                                <span>@item.Student.Suser_name</span>
                                <span>：@item.Detail</span>
                                <span>@item.Comment_time</span>
                            </div>
                        }
                    </div>
                    <div>
                        <input type="text" class="cont" />
                        <button class="publish">发表</button>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="unactive">
                <div class="topbar">教学片断</div>
                <div>
                    @foreach (var item in Model.exhibition)
                    {
                        <div><img src="@item.Photo" style="width:150px;" /></div>
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="unactive">
                <div class="topbar">教学视频</div>
                <div>
                    @foreach (var item in Model.sample)
                    {
                        <div><video src="@item.Videos"></video></div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div id="hidden" style="display:none">@Session["suser_id"]</div>
<script src="~/scripts/jquery-3.3.1.js"></script>
<script src="~/scripts/teatab.js"></script>
<script>
    $(".publish").click(function () {
        var a = $("#hidden").text();
        if (a == '') {
            alert("请先登录");
        }
        else {
            var id = document.getElementById("hidden");
            var idd = id.innerText;
            var cont = $(".cont").val();
            var date = new Date().toLocaleDateString();
            var url = window.location.href;
            var tid = url.charAt(url.length - 1);
            console.log(idd);
            console.log(cont);
            console.log(date);
            console.log(tid);
            $.post("/Teacher/comment/", {
                cm: {
                    Student_id: idd,
                    Detail: cont,
                    Comment_time: date,
                    Teacher_id: tid
                },
            })
        }
    })
</script>

