@model Model.TeacherInfo
@{
    ViewBag.Title = "detail";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Teauser.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.js"></script>
<div class="wrap">
    <div class="leftnav">
        <div>
            <img src="@Model.Ident_photo" />
            <h2>@Model.Teacher.Tuser_name</h2>
        </div>
        <ul class="ulmp leftnavbar">
            <li>教员资料</li>
            <li>教员评论</li>
            <li>教学片断</li>
            <li>教学视频</li>
        </ul>
    </div>
    <div class="rightdetail">
        <div class="account">
            <div class="topbar">账户资料</div>
            <div>
                <div class="headpor">
                    <img src="@Model.Ident_photo" />
                    <ul class="ulmp">
                        <li>修改头像</li>
                        <li>上传头像</li>
                    </ul>
                </div>
                <div class="detail">
                    <ul class="ulmp">
                        <li>
                            <strong>邮&nbsp; &nbsp; &nbsp; &nbsp;箱</strong>
                            <p>@Model.Teacher.Tmail</p>
                        </li>
                        <li>
                            <strong>电&nbsp; &nbsp; &nbsp; &nbsp;话</strong>
                            <p>@Model.phone</p>
                        </li>
                        <li>
                            <strong>学&nbsp; &nbsp; &nbsp; &nbsp;校</strong>
                            <p>@Model.Studyat</p>
                        </li>
                        <li>
                            <strong>专&nbsp; &nbsp; &nbsp; &nbsp;业</strong>
                            <p>@Model.Major</p>
                        </li>
                        <li>
                            <strong>科&nbsp; &nbsp; &nbsp; &nbsp;目</strong>
                            <p>@Model.Available_subject</p>
                        </li>
                        <li>
                            <strong>家教经验</strong>
                            <p>@Model.Experience</p>
                        </li>
                        <li>
                            <strong>薪水要求</strong>
                            <p>@Model.Salary</p>
                        </li>
                    </ul>
                    <ul class="ulmp">
                        <li>
                            <strong>授课区域</strong>
                            <p>@Model.Area</p>
                        </li>
                        <li>
                            <strong>可行时间</strong>
                            <p>@Model.Available_time</p>
                        </li>
                        <li>
                            <strong>获奖情况</strong>
                            <p>@Model.Award</p>
                        </li>
                        <li>
                            <strong>自我描述</strong>
                            <p>@Model.Description</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="comment">教员评论</div>
            <div></div>
        </div>
        <div>
            <div class="sample">教学片断</div>
            <div></div>
        </div>
        <div>
            <div class="exhi">教学视频</div>
            <div></div>
        </div>
    </div>
</div>

