@model Tutor.UI.ViewModels.TdeatilVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Teauser.css" rel="stylesheet"/>
<script src="~/scripts/jquery-3.3.1.js"></script>
<div class="wrap">
    <div class="leftnav">
        <div>
            <img src="@Model.tuser.Ident_photo" />
            <h2>@Model.tuser.Tuser_name</h2>
        </div>
        <ul class="ulmp leftnavbar">
            <li>教员资料</li>
            <li>我的家教</li>
            <li>我的预约</li>
        </ul>
    </div>
    <div class="rightdetail">
        @*账户资料*@
        <div class="account">
            <div class="topbar">账户资料</div>
            <div>
                <div class="headpor">
                    <img src="~/Img/登录注册/rg.jpg" />
                    <ul class="ulmp">
                        <li>修改头像</li>
                        <li>上传头像</li>
                    </ul>
                </div>
                <div class="detail">
                    <ul class="ulmp">
                        <li>
                            <strong>邮&nbsp; &nbsp; &nbsp; &nbsp;箱</strong>
                            <p>@Model.tuser.Tmail</p>
                        </li>
                        <li>
                            <strong>电&nbsp; &nbsp; &nbsp; &nbsp;话</strong>
                            <p>@Model.tuser.phone</p>
                        </li>
                        <li>
                            <strong>学&nbsp; &nbsp; &nbsp; &nbsp;校</strong>
                            <p>@Model.tuser.Studyat</p>
                        </li>
                        <li>
                            <strong>专&nbsp; &nbsp; &nbsp; &nbsp;业</strong>
                            <p>@Model.tuser.Major</p>
                        </li>
                        <li>
                            <strong>科&nbsp; &nbsp; &nbsp; &nbsp;目</strong>
                            <p>@Model.tuser.Available_subject</p>
                        </li>
                        <li>
                            <strong>家教经验</strong>
                            <p>@Model.tuser.Experience</p>
                        </li>
                        <li>
                            <strong>薪水要求</strong>
                            <p>@Model.tuser.Salary</p>
                        </li>
                    </ul>
                    <ul class="ulmp">
                        <li>
                            <strong>授课区域</strong>
                            <p>@Model.tuser.Area</p>
                        </li>
                        <li>
                            <strong>可行时间</strong>
                            <p>@Model.tuser.Available_time</p>
                        </li>
                        <li>
                            <strong>获奖情况</strong>
                            <p>@Model.tuser.Award</p>
                        </li>
                        <li>
                            <strong>自我描述</strong>
                            <p>@Model.tuser.Description</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        @*家教单*@
        <div class="task" style="display:none;">
            <div class="topbar">我的家教</div>
            <div>
                <table>
                    <tr class=".detailth">
                        <th>名称</th>
                        <th>科目</th>
                        <th>地点</th>
                        <th>时间</th>
                        <th>状态</th>
                        <th>电话</th>
                        <th>发布时间</th>
                    </tr>
                    <tr>
                        <td>@Model.task.Task_name.Substring(0,8)...</td>
                        <td>@Model.task.Subject</td>
                        <td>@Model.task.Location</td>
                        <td>@Model.task.Timedemend</td>
                        <td>@Model.task.State</td>
                        <td>@Model.task.Tel</td>
                        <td>@Model.task.Upload_time.ToString("yyyy-MM-dd")</td>
                    </tr>
                </table>
            </div>
        </div>
        @*预约*@
        <div class="appiontment" style="display:none;">
            <div class="topbar">我的预约</div>
            <table>
                <tr class="detailth">
                    <th>家教单名</th>
                    <th>预约时间</th>
                    <th>状&nbsp;&nbsp;态</th>
                    <th>预约教员</th>
                </tr>
                <tr>
                    <td>@Model.appointment.Task.Task_name</td>
                    <td>@Model.appointment.Atime</td>
                    <td>@Model.appointment.Astate</td>
                </tr>
            </table>
        </div>
    </div>
</div>
<script>
    $(".leftnav>ul li").click(function (event) {
        if ($(".leftnav>ul li .libackground") == undefined) {
            $(":selected").css("background-color", "lightblue");
        }
        else {
            $(".leftnav>ul li").css("background-color", "white");
            $(event.target).css("background-color", "lightblue");
        }
    })

    $(".leftnavbar li").click(function (event) {
        if (event.target.innerText == '教员资料') {
            $(".task").css("display", "none");
            $(".appointment").css("display", "none");
            $(".account").css("display", "block");
        }else {
            if (event.target.innerText == '我的家教') {
                $(".account").css("display", "none");
                $(".appointment").css("display", "none");
                $(".task").css("display", "block");
            }else{
                console.log(event.target.innerText);
                $(".account").css("display", "none");
                $(".task").css("display", "none");
                $(".appointment").css("display", "block");
                console.log($(".appointment"));
            }
        }
    })
</script>