@model Tutor.UI.ViewModels.SsearchVM
@{
    ViewBag.Title = "Ssearchresult";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Tsearchresult.css" rel="stylesheet"/>
<script src="~/scripts/jquery-3.3.1.js"></script>
<div>
    <div class="searchbar">
        <div class="area">
            <strong>求教学科</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    @foreach (var item in Model.grade)
                    {
                        <li>@item.Grade1</li>
                    }
                </ul>
            </div>
        </div>
        <div class="area">
            <strong>所在区域</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    @foreach (var item in Model.area)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="result">
        @foreach(var item in Model.task)
        {
            <div class="Ssingleresult">
                <div class="titletime">
                    <span>@item.Task_name</span>
                    <span>@item.Upload_time.ToString("yyyy-MM-dd")</span>
                </div>
                <div>
                    <ul class="ulmp">
                        <li>
                            <strong>所在区域</strong>
                            <span>@item.Location</span>
                        </li>
                        <li>
                            <strong>学员性别</strong>
                            <span>@item.Gender</span>
                        </li>
                        <li>
                            <strong>求教学科</strong>
                            <span>@item.Subject</span>
                        </li>
                        <li>
                            <strong>课&nbsp; 时&nbsp;费</strong>
                            <span>@item.Payment</span>
                        </li>
                    </ul>
                    <ul class="ulmp">
                        <li>
                            <strong>备注要求</strong>
                            <span>@item.Demand</span>
                        </li>
                        <li>
                            <strong>订单状态</strong>
                            <span>@item.State</span>
                        </li>
                        <li>
                            <strong>预约人数</strong>
                            <button class="tdbutton" data-id="@item.Task_id">点击应聘</button>
                        </li>
                    </ul>
                </div>
            </div>
        }
    </div>
    <div class="pagelist">
        @for(int i = 1; i <= ViewBag.count; i++)
        {
            <span><a href="Ssearchresult?page=@i">@i</a></span>
        }
    </div>
    <div class="hidden" style="display:none">@Session["user_id"]</div>
</div>
<script>
    $(".tdbutton").click(function (event) {
        var mydate = new Date().toLocaleDateString();
        var idd = document.getElementsByClassName("hidden");
        var id = idd[0].innerText;
        var taskid = event.currentTarget.dataset.id;
        var state = "预约成功";
        $.post("/search/makeorder/", {
            Teacher_id: id,
            task_id: taskid,
            atime:mydate,
            astate:state
        })
    })
</script>