@model Tutor.UI.ViewModels.TsearchVM
@{
    ViewBag.Title = "searchresult";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Tsearchresult.css" rel="stylesheet"/>
<script src="~/scripts/jquery-3.3.1.js"></script>
<div>
    <div class="searchbar">
        <div class="area" id="grades">
            <strong>求教学科</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    @foreach (var item in Model.grade)
                    {
                        <li data-gradeid="@item.Grade_id">@item.Grade1</li>
                    }
                </ul>
                <ul class="ulmp subject">
                </ul>
            </div>
        </div>
        <div class="area">
            <strong>所在区域</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    @foreach (var item in Model.area)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <div class="area">
            <strong>性别要求</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    <li>男</li>
                    <li>女</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="result">
        @foreach (var item in Model.teacherinfo)
        {
        <div class="singleresult">
            <div>
                <img src="~/Img/登录注册/rg.jpg" style="width:120px;height:120px;" />
            </div>
            <div>
                <p style="margin-top:0;">@item.Teacher.Tuser_name</p>
                <div>
                    <span>家教经验</span>
                    <strong>@item.Experience</strong><br />
                    <span>课&nbsp; 时&nbsp;费</span>
                    <strong>@item.Salary</strong>
                </div>
                <div>
                    <span>学校专业</span>
                    <strong>@item.Studyat @item.Major</strong>
                </div>
                <div>
                    <span>教授科目</span>
                    <strong>@item.Available_subject</strong>
                </div>
                <div>
                    <span>接受区域</span>
                    <strong>@item.Area</strong>
                </div>
                <div>
                    <span>个人简介</span>
                    <strong>@item.Description</strong>
                </div>
            </div>
        </div>
        }
    </div>
    <div class="pagelist">
        @for (int i = 1; i <= ViewBag.count; i++)
        {

            <span><a href="Tsearchresult?page=@i">@i</a></span>
        }
    </div>
</div>
<script>
    $("#grades>div ul li").hover(function (event) {
        var grade_id = event.target.dataset.gradeid;
        $.get("/Index/getsubject/" + grade_id, function (data) {
            $(".subject").empty();
            var detail='';
            for (var x in data) {
                var sub = $('<li><a href='+data[x].subject1+'></li>').text(data[x].subject1);
                $(".subject").append(sub);
                //var a = $(".subject li a").attr("href", "/Search/filter" + data[x].subject1);
                //var con =
                    //$(".subject").html('<li><a href="/Search/filter?sub=' + data[x].subject1 + '">' + data[x].subject1 + '</a></li>');
                //detail += con;
                //console.log(detail);
                //$(".subject").html(detail);
                //$(".subject").html('<li><a href="/Search/filter?sub=' + data[x].subject1 + '">' + data[x].subject1 + '</a></li>');
            }
            
        })
    })
</script>