@model Tutor.UI.ViewModels.TsearchVM
@{
    ViewBag.Title = "searchresult";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Tsearchresult.css" rel="stylesheet"/>
<script src="~/scripts/jquery-3.3.1.js"></script>
<div>
    <div class="searchbar">
        <div class="area" id="grades">
            <strong>求教学科</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    @foreach (var item in Model.grade)
                    {
                        <li data-gradeid="@item.Grade_id">@item.Grade1</li>
                    }
                </ul>
                <ul class="ulmp subject">
                </ul>
            </div>
        </div>
        <div class="area">
            <strong>所在区域</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    @foreach (var item in Model.area)
                    {
                        <li>@item</li>
                    }
                </ul>
            </div>
        </div>
        <div class="area">
            <strong>性别要求</strong>
            <div>
                <ul class="ulmp">
                    <li>不限</li>
                    <li>男</li>
                    <li>女</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="result">
        @foreach (var item in Model.teacherinfo)
        {
        <div class="singleresult">
            <div>
                <img src="@item.Ident_photo" />
            </div>
            <div>
                <p style="margin-top:0;"><a href="@Url.Action("detail","Teacher",new { id=@item.Teaher_id})">@item.Teacher.Tuser_name</a></p>
                <div>
                    <span>家教经验</span>
                    <span>@item.Experience</span><br />
                    <span>课&nbsp; 时&nbsp;费</span>
                    <span>@item.Salary</span>
                </div>
                <div>
                    <span>学校专业</span>
                    <span>@item.Studyat @item.Major</span>
                </div>
                <div>
                    <span>教授科目</span>
                    <span>@item.Available_subject</span>
                </div>
                <div>
                    <span>接受区域</span>
                    <span>@item.Area</span>
                </div>
                <div>
                    <span>个人简介</span>
                    <span>@item.Description</span>
                </div>
            </div>
            <div class="introcover">
                
            </div>
        </div>
        }
    </div>
    <div class="pagelist">
        @for (int i = 1; i <= ViewBag.count; i++)
        {
            <span><a href="Tsearchresult?page=@i">@i</a></span>
        }
    </div>
</div>
<script>
    $("#grades>div ul li").hover(function (event) {
        var grade_id = event.target.dataset.gradeid;
        $.get("/Index/getsubject/" + grade_id, function (data) {
            $(".subject").empty();
            var detail='';
            for (var x in data) {
                var sub = $('<li><a href='+data[x].subject1+'></li>').text(data[x].subject1);
                $(".subject").append(sub);
                //var a = $(".subject li a").attr("href", "/Search/filter" + data[x].subject1);
                //var con =
                    //$(".subject").html('<li><a href="/Search/filter?sub=' + data[x].subject1 + '">' + data[x].subject1 + '</a></li>');
                //detail += con;
                //console.log(detail);
                //$(".subject").html(detail);
                //$(".subject").html('<li><a href="/Search/filter?sub=' + data[x].subject1 + '">' + data[x].subject1 + '</a></li>');
            }
        })
    })
</script>