@model Tutor.UI.ViewModels.SdetailVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Teauser.css" rel="stylesheet"/>
<div class="wrap">
    <div class="leftnav">
        <div>
            <img src="@Model.student.Sphoto" style="width:150px;"/>
            <h2>@Model.student.Suser_name</h2>
        </div>
        <ul class="ulmp leftnavbar">
            <li>家教订单</li>
            <li>已购课程</li>
            <li>账户资料</li>
        </ul>
    </div>
    <div class="rightdetail">
        <div>
            <div class="topbar">家教订单</div>
            <div>
                <table>
                    <tr>
                        <th>订单名称</th>
                        <th>发布日期</th>
                        <th>订单状态</th>
                        <th>预约人数</th>
                    </tr>
                    @foreach (var item in Model.task)
                    { 
                        <tr>
                            <td>@item.Task_name.Substring(0, 8)...</td>
                            <td>@item.Upload_time.ToString("yyyy-MM-dd")</td>
                            <td>@item.State</td>
                            <td>@item.appo_count</td>
                        </tr>
                    }
                </table>
                <table>
                    <tr>
                        <th>序号</th>
                        <th>教员</th>
                    </tr>
                    @foreach(var item in ViewBag.infodata)
                    {
                        <tr>
                            <td>@item.Teaher_id</td>
                            <td>@item.Teacher.Tuser_name</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div>
            <div class="topbar">已购课程</div>
            <div>
                @foreach(var item in Model.indent)
                { 
                    <div>@item.courses.Cname</div>
                    <video src="@item.courses.Ccontent" controls="controls"></video>
                }
            </div>
        </div>
        <div>
            <div class="topbar">账户资料</div>
            <div>
                <div>
                    <img src="@Model.student.Sphoto" style="width:150px;"/>
                    <input type="file" value="修改头像"/>
                    <button>上传头像</button>
                </div>
                <ul>
                    <li>@Model.student.Suser_name</li>
                    <li>@Model.student.Sphone</li>
                </ul>
            </div>
        </div>
    </div>
</div>