@model Tutor.UI.ViewModels.SdetailVM
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Lauout.cshtml";
}
<link href="~/Css/Teauser.css" rel="stylesheet"/>
<style>
    .courses .cvideo{
        padding:0.5rem;
    }
    .cvideo video{
        width:300px;
    }
    .tid{
        visibility:hidden;
    }
</style>
<div class="wrap">
    <div class="leftnav">
        <div>
            <img src="@Model.student.Sphoto" style="width:150px;"/>
            <h2>@Model.student.Suser_name</h2>
        </div>
        <ul class="ulmp leftnavbar">
            <li>家教订单</li>
            <li>已购课程</li>
            <li>账户资料</li>
        </ul>
    </div>
    <div class="rightdetail">
        <div>
            <div class="avtiverg">
                <div class="topbar">家教订单<span>发布家教</span></div>
                <div style="display:flex">
                    <table>
                        <tr>
                            <th>订单名称</th>
                            <th>发布日期</th>
                            <th>订单状态</th>
                            <th>预约人数</th>
                        </tr>
                        @foreach (var item in Model.task)
                        {
                            <tr>
                                <td style="display:none;" class="task_id">@item.Task_id</td>
                                <td>@item.Task_name.Substring(0, 8)...</td>
                                <td>@item.Upload_time.ToString("yyyy-MM-dd")</td>
                                <td class="trigger">@item.State <span class="tid">@item.Teacher_id</span></td>
                                <td style="text-align:center;">@item.appo_count</td>
                            </tr>
                        }
                    </table>
                    <table>
                        <tr>
                            <th>预约教员</th>
                        </tr>
                        @foreach(var item in ViewBag.infodata)
                        {
                            <tr>
                                <td><a href="@Url.Action("detail","Teacher",new { id=@item.Teaher_id})">@item.Teacher.Tuser_name @item.Teaher_id</a></td>
                            </tr>
                        }
                    </table>
                    <input type="text" placeholder="请输入确定教员ID" class="idcontent" />
                    <button class="confirm">确定</button>
                </div>
            </div>
        </div>
        <div class="courses">
            <div class="unactive">
                <div class="topbar">已购课程</div>
                <div class="cvideo">
                    @foreach (var item in Model.indent)
                    {
                        <div>@item.courses.Cname</div>
                        <video src="@item.courses.Ccontent" controls="controls"></video>
                    }
                </div>
            </div>
        </div>
        <div>
            <div class="unactive">
                <div class="topbar">账户资料</div>
                <div>
                    <div>
                        <img src="@Model.student.Sphoto" style="width:150px;" />
                        <input type="file" value="修改头像" />
                        <button>上传头像</button>
                    </div>
                    <ul>
                        <li>@Model.student.Suser_name</li>
                        <li>@Model.student.Sphone</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/scripts/jquery-3.3.1.js"></script>
<script src="~/scripts/teatab.js"></script>
<script>
    $(".confirm").click(function () {
        var id = $(".idcontent").val();
        var taskid = $(".task_id").text();
        console.log(id);
        console.log("a");
        console.log(taskid);
        $.post("/Student/updatetea/", {
            task_id:taskid,
            teaid:id,
        })
        alert("选择成功");
    })
    var tritxt = $(".trigger").text();
    let a = tritxt.indexOf("已完成");
    if (a > -1) {
        $(".tid").css("visibility", "visible");
    }
</script>