@model Tutor.UI.ViewModels.IndexVM
@*@using Model;*@

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Lauout.cshtml";
    //ViewBag.loginviewmodel = new Model.Teacher();
}
<link href="~/Css/index.css" rel="stylesheet"/>
<link href="~/Css/font-awesome.min.css" rel="stylesheet" />
<script src="~/scripts/jquery-3.3.1.js"></script>

首页的搜索跳转
搜索结果页的筛选功能
家教单页的预约功能

<div class="firstdiv">
    <div class="selectdiv">
        <ul>
            <li>
                <div class="choose" id="choosegrade">
                    <span>选择年级</span>
                    <span class="fa fa-sort-desc fa-2x triangle"></span>
                    <ul>
                        @foreach (var item in Model.grade)
                        {
                                <li><span data-id="@item.Grade_id">@item.Grade1</span></li>
                        }
                    </ul>
                </div>
            </li>
            <li>
                <div class="choose" id="choosesub">
                    <span>选择学科</span>
                    <span class="fa fa-sort-desc fa-2x triangle"></span>
                    <ul>
                    </ul>
                </div>
            </li>
            <li>
                <input type="submit" value="搜索家教" class="search">
            </li>
        </ul>
    </div>
    <div class="logindiv">
        @if (Session["user_id"] == null)
        {
            @Html.Partial("_login", Model.teacher)
        }
        else
        {
            <section class="userinfo">
                <div><img src="@Session["head"].ToString()" /></div>
                <div><span>欢迎您，@Session["name"].ToString()</span></div>
                <div>
                    @if (Session["tflag"] == null)
                    {
                        <a href="@Url.Action("Index","Student")">个人中心</a>
                    }
                    else
                    {
                        <a href="@Url.Action("Index","Teacher")">个人中心</a>
                    }
                    <a href="@Url.Action("signout","Index")" target="_parent">退出</a>
                </div>
            </section>
            <div class="after">
                <div>
                    <span>公告</span>
                </div>
                <div>
                    <ul>
                        <li>
                            <span><a href="#">常见使用问题</a></span>
                            <span>5-18</span>
                        </li>
                        <li>
                            <span><a href="#">家教价格参考</a></span>
                            <span>4-28</span>
                        </li>
                        <li>
                            <span><a href="#">搜狐网报道提优特</a></span>
                            <span>5-15</span>
                        </li>
                        <li>
                            <span><a href="#">新浪网报道提优特</a></span>
                            <span>2-28</span>
                        </li>
                        <li>
                            <span><a href="#">凤凰网报道提优特</a></span>
                            <span>4-21</span>
                        </li>
                    </ul>
                </div>
            </div>
        }        
        
    </div>
</div>
<div class="rectea">
    <div class="grade">
        <ul class="ulmp">
            <li class="act">学前教育</li>
            <li>小学家教</li>
            <li>初中家教</li>
            <li>高中家教</li>
        </ul>
    </div>
    <div class="teadetail">
        <div class="activedetail">
            <div style="width:100%;clear:both;overflow:hidden;">
                @foreach (var item in Model.kidtea)
                 {
                    <div class="singletea">
                        <div>
                            <img src="@item.Teacher.Tphoto" />
                        </div>
                        <div>
                            <ul class="ulmp">
                                <li><a href="@Url.Action("detail","Teacher",new { id=@item.Teaher_id})"}>@item.Teacher.Tuser_name</a></li>
                                <li>@item.Available_subject</li>
                                <li>@item.Description</li>
                            </ul>
                        </div>
                    </div>
                 }
            </div>
        </div>
        <div class="">
            @foreach (var item in Model.pretea)
            {
                <div>
                    <div class="singletea">
                        <div>
                            <img src="@item.Teacher.Tphoto" />
                        </div>
                        <div>
                            <ul class="ulmp">
                                <li><a href="@Url.Action("detail","Teacher",new { id=@item.Teaher_id})" }>@item.Teacher.Tuser_name</a></li>
                                <li>@item.Available_subject</li>
                                <li>@item.Description</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="">
            @foreach (var item in Model.midtea)
            {
                <div>
                    <div class="singletea">
                        <div>
                            <img src="@item.Teacher.Tphoto" />
                        </div>
                        <div>
                            <ul class="ulmp">
                                <li><a href="@Url.Action("detail","Teacher",new { id=@item.Teaher_id})" }>@item.Teacher.Tuser_name</a></li>
                                <li>@item.Available_subject</li>
                                <li>@item.Description</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="">
            @foreach (var item in Model.higtea)
            {
                <div>
                    <div class="singletea">
                        <div>
                            <img src="@item.Teacher.Tphoto" />
                        </div>
                        <div>
                            <ul class="ulmp">
                                <li><a href="@Url.Action("detail","Teacher",new { id=@item.Teaher_id})" }>@item.Teacher.Tuser_name</a></li>
                                <li>@item.Available_subject</li>
                                <li>@item.Description</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="task">
    @foreach(var item in Model.task)
    {
        <div class="singlecase">
            <div class="Ttop">
                <div>@item.Student.Suser_name 急需家教</div>
                <div>辅导 @item.Subject</div>
                <div>
                    <strong>面议</strong>
                </div>
            </div>
            <div class="Tbottom">
                <span class="fa fa-location-arrow"></span>
                <span>@item.Location</span>
                <div>等待您来应聘</div>
                <a href="#">我要应聘</a>
            </div>
        </div>
    }
</div>
<script>
    //choosegrade
    $("#choosegrade").hover(function () {
        $("#choosegrade>ul").css({ "display": "block", "background-color": "white", "z-index": "100", "cursor": "pointer" });
    }).click(function (event) {
        var grade = event.target.innerText;
        $("#choosegrade>span:first-child").text(grade);
    }).mouseleave(function () {
        $("#choosegrade>ul").css("display", "none");
    });

    //choosesubject
    $("#choosesub").hover(function () {
        $("#choosesub>ul").css({ "display": "block", "background-color": "white", "z-index": "100", "cursor": "pointer" });
        console.log($("#choosesub>ul"));
    }).click(function (event) {
        var subject = event.target.innerText;
        $("#choosesub>span:first-child").text(subject);
    }).mouseleave(function () {
        $("#choosesub>ul").css("display", "none");
    })
    //loginbox
    $(".choosebar span:nth-child(1)").hover(function () {
        $(".teacherbox").css("display", "block");
        $(".studentbox").css("display", "none");
        $(".choosebar span:nth-child(1)").css("border", "none");
        $(".choosebar span:nth-child(2)").css({ "border-bottom": "1px solid lightgray", "border-left": "1px solid lightgray" });
    });
    $(".choosebar span:nth-child(2)").hover(function () {
        $(".studentbox").css("display", "block");
        $(".teacherbox").css("display", "none");
        $(".choosebar span:nth-child(2)").css("border", "none");
        $(".choosebar span:nth-child(1)").css({"border-bottom":"1px solid lightgray","border-right":"1px solid lightgray"})
    })

    //获取年级和科目的数据
    $("#choosegrade ul li span").click(function (event) {
        var grade_id = event.currentTarget.dataset.id;
        var grade = event.currentTarget.innerText;
        //event.currentTarget.addClass("hello");
        console.log(grade);
        $.get("/Index/getsubject/" + grade_id, function (data) {
            $("#choosesub ul").empty();
            for (var x in data) {
                var sub = $("<li></li>").text(data[x].subject1);
                $("#choosesub ul").append(sub);
            }
        })
    })
    function getgrade(){

    }
    //搜索功能
    $(".search").click(function () {
        $.post("/Index/filter/"+grade)
    })
    //控制推荐家教的展示
    var tabs = document.querySelectorAll('.grade ul li');
    var content = document.querySelectorAll('.teadetail>div');
    for (i = 0; i < tabs.length; i++) {
        var tab = tabs[i];
        settabhand(tab, i);
    }
    function settabhand(tab, tabpos) {
        tab.onmouseover = function () {
            for (i = 0; i < tabs.length; i++) {
                tabs[i].className = '';
            }
            tab.className = 'act';
            for (i = 0; i < content.length; i++) {
                content[i].className = '';
            }
            content[tabpos].className = 'activedetail';
        }
    }

</script>