@model Model.Student
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Register</title>
    <link href="~/Css/font-awesome.min.css" type="text/css" rel="stylesheet" />
    <link src="~/Css/register.css" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class="bgimg">
        <img src="~/Img/登录注册/rg.jpg" />
    </div>
    <div class="wrap">
            <div class="leftimg">
                <img src="~/Img/登录注册/rg.jpg" />
            </div>
            <div class="form-input">
                <div class="logo">
                    <img src="~/Img/登录注册/b.png" />
                </div>
                @using (Html.BeginForm("register", "Account", FormMethod.Post, new { @class = "input-box" }))
            {

                    <div class="user-name">
                        @Html.TextBoxFor(Student=>Student.Suser_name, new { placeholder = "请输入用户名，注册后不可更改" })
                        <span class="fa fa-user"></span>
                        @Html.ValidationMessageFor(Student => Student.Suser_name, "")
                    </div>
                    <div class="pwd">
                        @Html.TextBoxFor(Student=>Student.Spwd, new { placeholder = "请输入密码" })
                        <span class="fa fa-key"></span>
                        @Html.ValidationMessageFor(Student => Student.Spwd, "")
                    </div>
                    <div class="confirmpwd">
                        @Html.TextBoxFor(Student =>Student.Spwds, new { placeholder = "请再次输入密码" })
                        <span class="fa fa-key"></span>
                        @Html.ValidationMessageFor(Student =>Student.Spwds, "")
                    </div>
                    <div class="email">
                        @Html.TextBoxFor(Student =>Student.Sphone, new { placeholder = "请输入接受验证码的邮箱" })
                        @Html.ValidationMessageFor(Student =>Student.Sphone, "")
                        <span class="fa fa-envelope-o"></span>
                    </div>
                    <div class="submit">
                        <button>立即注册</button>
                    </div>
            }
            </div>
    </div>
</body>
</html>
